<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suhane.lib_cache">
    <application>
        <provider
            android:authorities="com.suhane.adjust"
            android:name="com.suhane.lib_cache.db.EventDbContentProvider"
            android:exported="true" />
    </application>
</manifest>
